div {
    height: 150px;
    border: 3px solid #092454;
}

#uno {
    background-color: #e69ef2;
}
#dos {
    background-color: #62d0ff;
}

#tres {
    background-color: #ced5db;
}

#cuatro {
    background-color: #85e38d;
}